[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-datastore = "*"

[dev-packages]
twine = "*"
python-dotenv = "*"
coverage = "*"
mkdocs = "*"

[requires]
python_version = "3.6"
