[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-datastore = "*"
twine = "*"

[dev-packages]
twine = "*"
python-dotenv = "*"

[requires]
python_version = "3.6"
